$color-link: rgb(195, 136, 76);
$color-link--hover: rgb(205, 146, 86);
$sans-serif: 'freight-sans-pro', Helvetica, sans-serif;

body {
  font-family: "ff-tisa-web-pro", "Georgia", serif;
  font-size: 20px;
  color: #040404;
}

a {
  color: $color-link;

  &:hover { color: $color-link--hover; }
}

html, .root {
  font-size: 21px;
}

body, .article {
  font-size: 1rem;
  line-height: 1.5rem;
}
h1, .h1 {
  font-size: 4.2272727rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-family: $sans-serif;
}
h2, .h2 {
  font-size: 2.6363636rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: $sans-serif;
}
h3, .h3 {
  font-size: 1.6363636rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: .4em;
  font-family: $sans-serif;
  font-weight: bold;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr, .hr {
  border: 1px solid;
  opacity: .1;
  width: 25%;
  margin-top: 3em;
  margin-bottom: -2em;
}

@media screen and (max-width: 580px) {
  h1, h2, h3, h4 {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}