@import 'settings';
@import 'mixins/mixins';
@import 'bootstrap';
@import 'typography';
@import 'global';
@import 'renard';

.section {
  margin: 2rem 0;
}

.main-logo {
  max-width: 100%;
  margin-bottom: 1vh;

  @media screen and (min-width: 600px) { padding-left: 10vmin; }
  @media screen and (min-width: 900px) { max-width: 70%; }
}

.section-intro__title {
  font-weight: bold;
}

.section-intro__desc {
  font-size: 1rem;
  line-height: 1.5;

  @media screen and (min-width: 600px) {  }
  @media screen and (min-width: 900px) { font-size: 1.3rem; }
}

.patreon-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 2em 0;
  padding: 0;
}

.patreon-name {
  font-family: $sans-serif;
  font-weight: 600;
  font-size: 1.2363636rem;
  flex: 1 0 100%;
  padding: .5rem 0;

  a {
    color: #333;

    &:hover { color: $color-link--hover; }
  }

  @media screen and (min-width: 600px) {
    flex: 1 1 50%;
    font-size: 1.3363636rem;
  }

  @media screen and (min-width: 900px) {
    flex: 1 0 50%;
    font-size: 1.6363636rem;
  }
}

.h-v-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Revue Form

.revue-form {
  display: flex;
  font-family: $sans-serif;

  label {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  input[type="email"] {
    flex-grow: 2;
    padding: .4em;
  }

  input[type="submit"] {
    padding: .4em;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
  }
}

.revue-form-group {
  display: flex;
  flex-flow: column;
  flex: 1 2 1em;
}

.revue-form-actions {
  display: flex;
  flex-flow: column-reverse;
  flex: 1 0 auto;
}